Package: MAVRouterPorted
Version: 0-r1
Depends: libc, libpthread, libstdcpp6
Source: feeds/base/MavRouterPorted
SourceName: MAVRouterPorted
License: CC0-1.0
Section: utils
SourceDateEpoch: 1730024653
Maintainer: Fehmi Yousfi <fehmi.yousfi@luceor.com>
Architecture: aarch64_cortex-a72
Installed-Size: 604160
Description:  a bridge for mavlink data from UART to UDP link on openwrt : test target BCM2711 
