Package: MavSource
Version: 0-r1
Depends: libc, libpthread, libstdcpp6
Source: feeds/base/MavSource
SourceName: MavSource
License: CC0-1.0
Section: utils
SourceDateEpoch: 1730024653
Maintainer: Fehmi Yousfi <fehmi.yousfi@luceor.com>
Architecture: aarch64_cortex-a72
Installed-Size: 71680
Description:  Collector for PX4 Flight Controller multiple Serial Problem    
